<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wind.boot.dao.OrderMapper" >
    <resultMap id="BaseResultMap" type="com.wind.boot.entity.po.Order" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="vaccine_id" property="vaccineId" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>


    <sql id="Column_List" >
        id,user_id,name,vaccine_id,status,create_time
    </sql>

    <sql id="Column_Selective_List" >
        <trim prefix="" suffix="" suffixOverrides="," prefixOverrides=",">
			<if test="id!= null" >
				, id = #{id,jdbcType=INTEGER}
			</if>
			<if test="userId!= null" >
				, user_id = #{userId,jdbcType=INTEGER}
			</if>
			<if test="name!= null and name!=''" >
				, name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="vaccineId!= null" >
				, vaccine_id = #{vaccineId,jdbcType=INTEGER}
			</if>
			<if test="status!= null" >
				, status = #{status,jdbcType=INTEGER}
			</if>
			<if test="createTime!= null" >
				, create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
		</trim>
    </sql>

    <sql id="Column_Selective_And_List" >
        <if test="id!= null" >
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="userId!= null" >
			and user_id = #{userId,jdbcType=INTEGER}
		</if>
		<if test="name!= null and name!=''" >
			and name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="vaccineId!= null" >
			and vaccine_id = #{vaccineId,jdbcType=INTEGER}
		</if>
		<if test="status!= null" >
			and status = #{status,jdbcType=INTEGER}
		</if>
		<if test="createTime!= null" >
			and create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		
    </sql>

    <sql id="Column_Assign_List" >
        #{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{vaccineId,jdbcType=INTEGER},#{status,jdbcType=INTEGER},
		#{createTime,jdbcType=TIMESTAMP}
    </sql>

    <sql id="InsertBatch_List" >
        #{item.id,jdbcType=INTEGER},#{item.userId,jdbcType=INTEGER},#{item.name,jdbcType=VARCHAR},#{item.vaccineId,jdbcType=INTEGER},#{item.status,jdbcType=INTEGER},
		#{item.createTime,jdbcType=TIMESTAMP}
    </sql>

    <insert id="insert" parameterType="com.wind.boot.entity.po.Order" useGeneratedKeys="true" keyProperty="id">
        insert into t_order (
        <include refid="Column_List" />
        ) values (
        <include refid="Column_Assign_List" />
        )
    </insert>

    <!--<insert id="insertBatch" >-->
    <!--insert into t_order (-->
    <!--<include refid="Column_List" />-->
    <!--) values-->
    <!--<foreach collection="list" item="item" separator=",">-->
    <!--(-->
    <!--<include refid="InsertBatch_List" />-->
    <!--)-->
    <!--</foreach>-->
    <!--</insert>-->

    <delete id="deleteById">
        delete from t_order where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="findById" resultType="com.wind.boot.entity.vo.OrderVO">
        select
        r.id,r.user_id userId,r.name,r.vaccine_id vaccineId,r.status,r.create_time createTime
        from t_order r
        where r.id = #{id,jdbcType=INTEGER}
    </select>

    <update id="update" parameterType="com.wind.boot.entity.po.Order" >
        update t_order
        <set>
            <include refid="Column_Selective_List" />
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="com.wind.boot.entity.po.Order" >
        delete from t_order where
        <include refid="Column_Selective_And_List" />
    </delete>

    <select id="list" resultType="com.wind.boot.entity.vo.OrderVO" parameterType="com.wind.boot.entity.dto.OrderSearchDTO">
        select
        r.id,r.user_id userId,r.name,r.vaccine_id vaccineId,r.status,r.create_time createTime
        from t_order r
        where 1 = 1
        <if test="id!= null" >
			and r.id = #{id,jdbcType=INTEGER}
		</if>
		<if test="userId!= null" >
			and r.user_id = #{userId,jdbcType=INTEGER}
		</if>
		<if test="name!= null and name!=''" >
			and r.name like concat('%', #{name,jdbcType=VARCHAR}, '%')
		</if>
		<if test="vaccineId!= null" >
			and r.vaccine_id = #{vaccineId,jdbcType=INTEGER}
		</if>
		<if test="status!= null" >
			and r.status = #{status,jdbcType=INTEGER}
		</if>
		<if test="createTime!= null" >
			and r.create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		
    </select>
</mapper>

